doctype html
html(lang="en")
  head
    title Administración
    link(rel="stylesheet", href="/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/admin.css")
  body
    div(class="container")
      for message in flash
        div(class="alert alert-#{message.type}", role="alert")
          p #{message.message}
      form(class="form-signin", role="form", action="/admin", method="POST")
        h2(class="form-signin-heading") Registro
        input(type="text", name="name", class="form-control", placeholder="Nombre", required, autofocus)
        textarea(name="synopsis", class="form-control", placeholder="Synopsis")
        input(type="text", name="front", class="form-control" placeholder="Cover Url" required)
        input(type="text", name="duration", class="form-control" placeholder="Duración" required)
        input(type="text", name="clasification", class="form-control" placeholder="Clasificación" required)
        input(type="text", name="genres", class="form-control" placeholder="Géneros" required)
        input(type="hidden" name="access_token", class="form-control", value="#{accessToken}")
        select(name="theaters", multiple="multiple", class="form-control")
          option(value="Cinemas Galerías") Cinemas Galerías
          option(value="Cinemas Plaza Inter") Cinemas Plaza Inter
          option(value="Cinemark Metrocentro") Cinemark Metrocentro
          option(value="Alhambra VIP") Alhambra VIP
          option(value="Alhambra Bello Horizonte") Alhambra Bello Horizonte
        button(class="btn btn-lg btn-primary btn-block", type="submit") Acceder
